<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>LazyCoder || sumit</title>

  <title>sumit</title>
  <style media="screen">
    .footer{
      position: fixed;
    }
    .about p{
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 24px;
    }
  </style>
</head>

<body style="background-color: #B3E5FC;">
  {%if request.user.is_authenticated%}
    {% include "ecom/customer_navbar.html" %}
  {%else%}
    {% include "ecom/navbar.html" %}
  {%endif%}
  <br><br><br>
<h1 style="text-align:center; color: red;">LIFE STYLE GARMENTS</h1>
<div class="about">
  <center>
<p>Here in Life Style Garments all the varieties of clothes are available for both men and women. Variety of clothes includes topwear, bottomwear, activewear etc,..
Life Style Garments is located in Jawahar Bazar, Karur.
</p></center></div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  {% include "ecom/footer.html" %}
</body>

