{% extends 'ecom/admin_base.html' %}
{% load static %}
{% block content %}


<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

.customertable p {
      text-align: left;
      margin-top: 20px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 30px;
      margin-bottom: 20px;
    }
.customertable button{
  margin-left: 1350px;
}
    
table, td, th {  
  border: 3px solid black;
  text-align: center;
  margin-left: 350px;
  height: 50px;
}


table {
  border-collapse: collapse;
  width: 50%;
}


  </style>
</head>
<div class="customertable">
      <p class="panel-title" style="color: black;">Customer Report</p>
      <button>Download</button>
</div>
<form>
  <label>From:</label>
  <input type="date" >
  <label>To:</label>
  <input type="date" >
 
</form>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Mobile</th>
          <th>Address</th>
        </tr>
      </thead>
      {% for c in customers %}
      <tr>
        <td> {{c.get_name}}</td>
        <td>{{c.mobile}}</td>
        <td>{{c.address}}</td>


      </tr>
      {% endfor %}
    </table>


{% endblock content %}
