{% extends 'ecom/admin_base.html' %}
{% load static %}
{% block content %}


<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    .salestable p {
      text-align: left;
      margin-top: 20px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 30px;
      margin-bottom: 20px;
    }
.salestable button{
  margin-left: 1350px;
}
    
table, td, th {  
  border: 3px solid black;
  text-align: center;
  margin-left: 350px;
  height: 50px;
}


table {
  border-collapse: collapse;
  width: 50%;
}

  </style>
</head>

<div class="salestable">
  <p class="panel-title" style="color: black;">Sales Report</p>
  <button>Download</button>
</div>
<form>
<label>From:</label>
<input type="date" >
<label>To:</label>
<input type="date" >

</form>
    <table>
      <thead>
        <tr>
          <th>Customer Name</th>
          <th>Customer Mobile</th>
          <th>Shipment Address</th>
          <th>Product Name</th>
          <th>Product Picture</th>
          <th>Status</th>
          
        </tr>
      </thead>
      <!-- p for product, c for customer-->
      {% for product,customer,order in data %}
      <tr>
        {% for c in customer %}
        <td> {{c.get_name}}</td>
        <td>{{c.mobile}}</td>
        <td>{{order.address}}</td>

        {% endfor %}
        {% for p in product %}
        <td> {{p.name}}</td>
        <td> <img src="{% static p.product_image.url %}" alt="Profile Pic" height="40px" width="40px" /></td>
        <td>{{order.status}}</td>
        

        {% endfor %}



      </tr>
      {% endfor %}
    </table>
  </div>
</div>
<!--
developed By : sumit kumar
facebook : fb.com/sumit.luv
youtube : youtube.com/lazycoders
-->
{% endblock content %}
